h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #ffd700; 
    text-shadow: 1px 1px #333; 
    margin-top: 50px; 
    margin-bottom: 50px; 
  }
  
 /* Estilo para el cuerpo del documento */
body {
    font-size: 1.8em;
  }
  
  /* Estilo para el formulario */
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    background-color: rgb(202, 253, 151);
  }
  
  /* Estilo para los campos de entrada */
  input[type="radio"] {
    margin: 0 10px 10px 0;
    font-size: 1.2em;
  }
  
  /* Estilo para el botón de enviar */
  input[type=submit] {
    background-color: #ffd700;
    color: #333;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.6em;
    align-self: flex-end;
  }
  
  
  
  /* Estilo para los campos de entrada */
  label {
    font-size: 1.2em;
   
  }
  #boton-edad {
    padding: 10px;
    font-size: 20px;
    background-color: #cfeb9a;
    color: #0f0d0d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  